.opciones-vista{
    width: 100%;
    height: 60px;
    background-color: #ffffff6e;
    display: flex;
    position: fixed;
    z-index: 100000;
    bottom: 0;
    box-shadow: 0 2px 15px 4px #000;
    text-align: center;
    padding: 11px;
    border-radius: 20px 20px 0 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.opciones-vista-video {
    display: flex;
    align-items: center;
    border: 1px solid #1dc9b7;
    background-color: #1dc9b7;
    border-radius: 4px;
}

.btn{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1.125rem;
    font-size: 0.8125rem;
    line-height: 1.47;
    border-radius: 4px;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}
.btn:active {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset !important;
}
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}
.btn-info {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}
.btn svg{
    font-size: 0.8125rem!important;
}
.btn-dark {
    color: #fff;
    background-color: #4e4e4e;
    border-color: #4e4e4e;
}
.btn-light {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
}
.btn-light {
    border-color: rgba(0, 0, 0, 0.15);
}
.imagen{
    cursor: pointer;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000
}
a{
    text-decoration: none;
}
i.fas{
    padding: 0px!important;
}
.btn-success {
    color: #fff;
    background-color: #1dc9b7;
    border-color: #1dc9b7;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.47;
}
.modal-dialog .modal-title {
    font-weight: 500;
}
.modal-header h4{
    font-size: 1.0625rem;
}
label.error, .importante {
    color: #da0303;
}
.auditorio-opciones{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffffab;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
}
.auditorio-opciones:hover{
    opacity: 1;
    transition: opacity 1s;
}
.auditorio-opciones > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    width: 80%;
    text-align: center;
    color: #4e4e4e;
    font-weight: 700;
}
.no-click{
    pointer-events: none;
}
.home-fondo-stands .stand-middle-circulo .logo-stand-circulo-distrito .logo-stand-circulo-distrito-center input {
    border: 0;
    text-align: center;
    background-color: transparent;
    outline: none;
    display: flex;
    height: auto;
    width: auto;
    position: absolute;
    font-weight: 600;
    font-size: 1.9vh;
    flex-direction: row;
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
    color: #fff;
    border-radius: 1vh;
    padding: 1.1%;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.pf-8 {
    padding-right: 8px;
}

.home .slide {
    display: inherit !important;
}
.home .slide.active {
    display: inherit !important;
}